/* Begining of Header styles
*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.styled {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: capitalize;
  font-weight: 400;
  text-align: center;
  width: 30%;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(185, 85, 3);
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

nav ul {
  width: 60vw;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
}
.hero-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(./components/images/header-bcg.jpeg);
  background-size: cover;
  background-repeat: none;
  height: 60vh;
}
.hero-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header > .hero-header > h1 {
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 0px;

  text-align: center;
  color: white;
}
header > .hero-header > h3 {
  font-size: 24px;
  margin-top: 0px;
  padding: 0px;
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: 400;
  color: rgb(219, 133, 4);
}

/* About Page Stylining */

.about-box {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.title-header {
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #f78e06;
}
.about-box > h3 {
  font-size: 1.3em;
  text-align: center;
  text-transform: capitalize;
  color: #f78e06;
}

.gallery-div {
  background: #f5f5f7;
  margin-top: 4em;
  margin-bottom: 5em;
  min-height: calc(100vh - 10vh);
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;

  grid-template-areas:
    "one  three "
    "one four"
    "two  five"
    "six five"
    "six five";
}

.proj {
  grid-area: one;
  width: 100%;
}
.proj-1 {
  grid-area: one;
}
.proj-2 {
  grid-area: two;
}
.proj-3 {
  grid-area: three;
}
.proj-4 {
  grid-area: four;
}
.proj-5 {
  grid-area: five;
}
.proj-6 {
  grid-area: six;
}
.proj-7 {
  grid-area: seven;
}

/* @media (min-width : 760px){
  .gallery-div{
      display: flex;
  }
} */
/* Contact Styles   */

.contact {
  height: 25vh;
  width: 100%;
  background: #1d1c1c;
  color: #f5f5f5;
  display: block;
  padding: 1px;
  position: relative;
  bottom: 0%;
}

.contact > h3,
p {
  text-align: center;
}

.contact h3 {
  color: #f78e06;
  margin-top: 3px;
}

@media screen and (max-width: 570px) {
  .styled {
    width: 50%;
  }

  header > .hero-header > h1 {
    font-size: 2.5em;
    font-weight: 400;

    text-align: center;
    color: white;
  }
  header > .hero-header > h3 {
    font-size: 20px;
    font-weight: 400;
  }

  .about-box {
    width: 80%;
    margin: 0 auto;
    display: block;
    text-align: left;
  }
  .about-box > h3 {
    text-align: left;
  }

  .about-box > .title-content > p {
    text-align: left;
  }

  .gallery-div {
    background: #f5f5f7;
    margin-top: 4em;
    margin-bottom: 5em;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;

    grid-template-areas:
      "one" "three "
      "two " " four"
      "five " "six";
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
